<!DOCTYPE html>
<html lang="en">
<head>
    <!--# include file="eum.html" -->
    <title>ThousandEyes's Robot Shop</title>
    <link rel="shortcut icon" type="image/png" href="/media/ThousandEyes-Logo-Trasparent-960px_50.png"/>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Orbitron');
        @import url('/css/style.css');
        @import url('/css/auto-complete.css');
    </style>
    <meta http-equiv="Cache-Control" content="no-Cache">
    <meta http-equiv="Pragma" content="no-cache">
</head>

<body ng-app="robotshop">
<div ng-controller="shopform">
    <h1><a href="/">ThousandEyes's Robot Shop</a></h1>
    <span id="stan">
        <img src="/media/ThousandEyes-Logo-Trasparent-960px_50.png"/>
    </span>
    <span id="search">
        <form>
            <input type="text" size="20" ng-model="data.searchText"/>
            <button ng-click="search();">Search</button>
        </form>
    </span>

    <div class="row">
        <!-- left nav -->
        <div class="nav column">
            <h3><a href="login">Login / Register</a></h3>
            <h3><a href="cart">Cart</a></h3>
            <div ng-if="data.cart.total == 0" class="carttotal">
                Empty
            </div>
            <div ng-if="data.cart.total != 0" class="carttotal">
                &euro;{{ data.cart.total.toFixed(2) }}
            </div>
            <h3>Categories</h3>
            <ul class="products">
                <li ng-repeat="cat in data.categories">
                    <span ng-click="getProducts(cat);" class="category">{{ cat }}</span>
                    <ul ng-if="data.products[cat]">
                        <li ng-repeat="prod in data.products[cat]">
                            <a class="product" href="product/{{ prod.sku }}">{{ prod.name }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- main display area -->
        <div class="main column">
            <div ng-view></div>
        </div>
    </div>

    <div class="footer">
        {{ data.uniqueid }}
    </div>

</div>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>
<script src="/js/auto-complete.js"></script>
<script src="/js/controller.js"></script>
<script type="text/javascript">
    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
</script>

</body>
</html>
