<!-- splash page -->
<div class="splash">
    <h3>Welcome to ThousandEyes's Robot Shop</h3>
    <p>
    Here you will find all of ThousandEyes's friends. Have a browse around and see who is here.
    </p>
    <p>
    This is a simple example microservices ecommerce application.
    It has been built using various technologies:
    <ul>
        <li>AngularJS (1.x)</li>
        <li>Nginx</li>
        <li>NodeJS</li>
        <li>Java</li>
        <li>Python</li>
        <li>Golang</li>
        <li>PHP (Apache)</li>
        <li>MongoDB</li>
        <li>Redis</li>
        <li>MySQL</li>
    </ul>
    When deployed into an environment monitored by Instana, these technology stacks will be automatically
    detected and monitored, all with minimum configuration. Every request will be traced end to end. 
    Stan will keep an eye on all those metrics, events and traces and let you know what needs your attention.
    </p>
    <p>
    To find out more visit the <a class="cont" href="https://instana.com/" target="_blank">Instana</a> site.
    </p>
    <p>
    All the code is available on <a class="cont" href="https://github.com/instana/robot-shop" target="_blank">Github</a>.
    </p>
</div>
